.coin_search {
    /* margin-bottom: 64px; */
    /* display: flex; */

    width: 300px;
  margin-bottom: 2rem;
}

.coin_input {
    background: transparent;
    border: none;
    border-bottom: 1.4px solid #000;
    padding: 16px;
    outline: none;
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.coin_input::placeholder {
    color: #fff;

}

.coin_input:focus {
    border-bottom: 2px solid green;
}