.coin_page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}

.coin_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: auto;
}

.coin_image {
  height: 100x;
  width: 100px;
  align-self: center;
  margin-bottom: 1rem;
}

.coin_name {
  margin-bottom: 1rem;
  align-self: center;
}

.coin_ticker {
  margin-bottom: 1rem;
  align-self: center;
}

.coin_current {
  margin-bottom: 1rem;
  align-self: center;
}

.coin_current,
.coin_ticker,
.coin_name,
.coin_des,
.price_change,
.percentage_increase,
.high_price,
.total_volume,
.last_updated {
  line-height: 2;
}

.coin_grid {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.1rem;
}

.coin_flex {
  display: flex;
  flex-direction: column;
}

.button {
  width: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 10;
}

.button:hover {
  color: orange;
}

.red {
  color: #f00606;

  line-height: 2;
}
.green {
  color: #13c783;

  line-height: 2;
}

.coin_return {
  height: 50px;
  width: 100%;
  margin-left: 2rem;
 
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .coin_container {
    width: 45rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(253, 253, 255, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    font-size: 1rem;
  }

  .coin_grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
  }

  .coin_image {
    margin-top: 1rem;
  }

  .coin_return {
    margin-left: 4rem;
    transform: translateY(2rem);
  }
}
