.nav {
  display: flex;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  border-bottom: 0.5px solid #000;
  background: #000046;
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);
}

.nav__icon {
  margin-left: 1rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__title {
  display: flex;
  flex: 1;
  color: #fff;
}

.nav__links {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.nav__list_item {
  margin: 0rem 1rem;
  color: #fff;
}

@media screen and (min-width: 415px) {
  .nav__list_register {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0rem 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .nav__links {
    margin-right: 20%;
  }
  .nav__bitcoin {
    margin-left: 20%;
  }
}
