.red {
  color: #f00606;
  grid-area: coin_percent;
}
.green {
  color: #13c783;
  grid-area: coin_percent;
}

.coin_container {
}

.coin__row {
  display: grid;
  grid-template-columns: 0.5fr 1.8fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "coin_img coin_h1 coin_symbol coin_percent coin_price";
  padding: 1rem 0rem;
  font-size: 0.85rem;
  margin: 0;
  padding: 1rem 0;
  justify-content:center;
  align-items:center;
}

.coin__img {
  height: 25px;
  width: 25px;
  margin-left: 0.5rem;
  grid-area: coin_img;
}

.coin__name {
  grid-area: coin_h1;
}

.coin__symbol {
  text-transform: uppercase;
  grid-area: coin_symbol;
}

.coin__price {
  grid-area: coin_price;
}

.coin__container_percent {
  text-align: center;
  margin-right: 10%;
  grid-area: coin_percent;
}

.coin__market {
  display: none;
}

.coin__volume {
  display: none;
}



@media screen and (min-width: 720px) {
  .coin_row {
    grid-template-columns: 0.3fr 0.4fr 0.4fr 0.4fr 0.4fr 1fr 1fr;
    grid-template-areas: "coin_img coin_h1 coin_symbol coin_percent coin_price coin_market coin_volume";
  }

  .coin_volume {
    display: block;
    width: 135px;
    margin-right: 1rem;
    grid-area: coin_volume;
  }

  .coin_market {
    display: block;
    grid-area: coin_market;
  }
}

@media screen and (min-width: 1000px) {
  .coin_row {
    grid-template-columns: 1fr 0.3fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.7fr 0.7fr;
    grid-template-areas: ". coin_img coin_h1 coin_symbol coin_percent coin_price coin_market coin_volume .";
  }
}
