.chart_container {
  height: 600px;
  margin-bottom: 1.5rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 2rem;
}

.chart {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 760px) {
  .title {
    text-align: center;
  }

  .chart_container {
    height: 600px;
    margin-bottom: 5rem;
    width: 100%;
  }

  .chart {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
