.chart_container {
  height: 600px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.chart {
  width: 290px;
  height: 230px;
  margin-top: 3rem;
  transform: translateX(-5%);
}

.title {
  text-align: center;
  margin-top: 2rem;
}
