.chart_container {
  height: 1000px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.chart {
  width: 290px;
  height: 230px;
  margin-top: 3rem;
  transform: translateX(-5%);
}

.title {
  text-align: center;
  margin-top: 2rem;
}


@media screen and (min-width: 800px) {
  .title {
    text-align: center;
    margin-top: 0rem;
  }

  .chart_container {
    height: 600px;
  }

  .chart {
    width: 400px;
    height: 200px;
    margin-top: 3rem;
    transform: translateY(-5%);
  }
}